<app-navbar></app-navbar>
<body>
    <div class="container">
        <h3>Book Your Trip</h3>
        <p>Hotel Booking</p>
        <form>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Check-in Date </label>
                      </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput"> Check-out Date </label>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="time" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput"> Check-in Time</label>
                      </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="time" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput"> Check-out Time</label>
                      </div>
                </div>
            </div>
            <div class="form-floating mt-3">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                  <option value="1">Vila</option>
                  <option value="2">Cottage</option>
                  <option value="3">Dulex</option>
                  <option value="4">Regular</option>
                </select>
                <label for="floatingSelect">Type</label>
            </div>
            <div class="form-floating mt-3">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                  <option value="1">Pure Veg</option>
                  <option value="2">Non-veg</option>
                  <option value="3">No food</option>
                </select>
                <label for="floatingSelect">Food</label>
            </div>
            <div class="form-floating mt-3">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                  <option value="1">Economy</option>
                  <option value="2">Premium Economy</option>
                  <option value="3">Business</option>
                  <option value="4">First Class</option>
                </select>
                <label for="floatingSelect">Floor preference</label>
                <span style="font-weight: 100;font-size: small;color: white;">If regular</span>
            </div>    
            <div class="checkbox">
                <input type="checkbox" >&nbsp;
                <label for="checkbox" style="color: white;"> Coupoun</label>
             </div>  
             <div class="button">
                <button class="btn btn-info" routerLink="/form4"> Next</button>
            </div>
            <div class="button1">
                <button class="btn btn-info" routerLink="/form2">Previous</button>
            </div>      
        </form>
    </div>
</body>
