<app-navbar></app-navbar>
<div class="container">
    <div class="domestic">
        <h3>International-Trips</h3>

        <!-- carousel effect -->

        <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-item active">
                    <img src="../../../assets/image/chicago-1791002_1280.jpg" class="d-block w-100 " alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/image/tobias-tullius-o8jqLqqKFKc-unsplash.jpg" class="d-block w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/image/cafe-3537801_1280.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!--  Card View -->

        <label for="card">Middle East</label>
        <div class="row">
            <div class="col">
                <div class="card" routerLink="/form">
                    <img src="../../../assets/image/sebastien-uwagwk2FywU-unsplash.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Saudi</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" routerLink="/form">
                    <img src="../../../assets/image/damir-babacic-72OkqJTLLA0-unsplash.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <p class="card-text">Egypt</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" routerLink="/form">
                    <img src="../../../assets/image/darcey-beau-q8D7WZc40eA-unsplash.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <p class="card-text">UAE</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" routerLink="/form">
                    <img src="../../../assets/image/darcey-beau-wD1gm2Vwc5I-unsplash.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <p class="card-text">Qatar</p>
                    </div>
                </div>
            </div>
        </div>



        <label for="card">European</label>
        <div class="row">
            <div class="col">
                <div class="card" routerLink="/form">
                    <img src="../../../assets/image/olesia-bahrii-aJJjXCPZKSc-unsplash.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <p class="card-text">Austria</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" routerLink="/form">
                    <img src="../../../assets/image/chicago-1791002_1280.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Chicago</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" routerLink="/form">
                    <img src="../../../assets/image/cold-8183087_1280.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Antartica</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" routerLink="/form">
                    <img src="../../../assets/image/david-ramos-yYZVWVZMcIo-unsplash.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <p class="card-text">Switzerland
                        </p>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="international">
        <h3>International Plans</h3>
    </div>
</div>